{%load static%}

<!DOCTYPE HTML>
<html>

<head>
	<title>Apna Phone | About </title>
	<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
	<meta name="keywords"
		content="Mobilestore iphone web template, Android web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<link href='//fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet'
		type='text/css'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="{%static 'css/about.css'%}">
	<link rel="stylesheet" href="{%static 'css/all.min.css'%}">
	
</head>

<body>

	<nav class="nav-main">
		<div class="logo">
			<img src="{%static 'images/logo.png'%}" width="100px" height="100px" style="padding:0px 5px">
		</div>
		<div class="wrap">
			<a href="" class="header">Who We Are</a>
			<a href="#" class="header">What We Do</a>
			<a href="#" class="header">Our Workplace</a>
			<a href="#" class="header">Business Area</a>
			<a href="#" class="header">Who We Are</a>
			<a href="#" class="header "><i class="fa-solid fa-envelope icon"
					style="color:goldenrod;font-size:18px;margin-right:0px;margin-top:-4px;"></i>&nbsp;&nbsp;Subscribe</a>
			<form>
				<input class="search" placeholder="search for anything">
				<button class="search-btn">Search</button>
			</form>

		</div>

	</nav>
	<div class="clear"> </div>
	{% comment %} starting body {% endcomment %}
	<div class="section">
		<div class="head1">
			<h1 class="mx-2 heading">Who We are</h1>
			<div class="text">
			<p>
				Apna Phone is guided by four principles: customer obsession rather than competitor focus, passion for
				invention, commitment to operational excellence, and long-term thinking. Apna Phone strives to be Earth’s
				most customer-centric company, Earth’s best employer, and Earth’s safest place to work. Customer
				reviews, 1-Click shopping, personalized recommendations, Prime, Fulfillment by Apna Phone, AWS, Kindle
				Direct Publishing, Kindle, Career Choice, Fire tablets, Fire TV,Apna Phone Echo, Alexa, Just Walk Out
				technology, Apna Phone and The Climate Pledge are some of the things pioneered by us.</p>
			</div>
		</div>
		<div class="head2">
			<div class="info">
				<h2><a >Leadership Principles</h2></a>
				<p>Our Leadership Principles are more than inspirational wall hangings. The 16 principles guide our discussions and decisions every day.</p>
				<button class="mx-2">Read More&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
			</div>
			<div class="info">
				<h2><a >Awards and Recognition</h2></a>
				<p>We are honoured to be recognised for the work we do on behalf of our customers, employees, and communities every day.</p>
				<button class="mx-2">Read More&nbsp;<i class="fa-solid fa-arrow-right"></i></button>

			</div>
			<div class="info">
				<h2><a >Facts About Apna Phone</a></h2>
			<p>Facts about Apna Phone, its employees, communities, and customers.</p>
			<button class="mx-2">Read More&nbsp;<i class="fa-solid fa-arrow-right"></i></button>

			</div>

		</div>
		
	</div>
	<img src="{%static 'images/about.png'%}" class="image">
<div class="head3" >
	<h1 class="mx-2 heading">Leadership Principles</h1>
	<div class="text" style="width:70%;">
	<p>
		We hold ourselves and each other accountable for demonstrating the Leadership Principles through our actions every day. Our Leadership Principles describe how Apna Phone does business, how leaders lead, and how we keep the customer at the center of our decisions. Our unique Apna Phone culture, described by our Leadership Principles, helps us relentlessly pursue our mission of being Earth’s most customer-centric company, best employer, and safest place to work..</p>
	</div>

</div>

<div class="col">
<div class="scrollspy">
	<nav id="navbar" class="navbar navbar-light bg-white" >
		{% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
		<nav class="nav nav-pills flex-column">
		  <a class="nav-link" href="#Customer-Obsession">Customer Obsession</a>
			<a class="nav-link ml-3 my-1" href="#Ownership">Ownership</a>
			<a class="nav-link ml-3 my-1" href="#Invent-and-Simplify">Invent and Simplify</a>
			<a class="nav-link" href="#Are-Right-A-Lot">Are Right, A Lot</a>
			<a class="nav-link ml-3 my-1" href="#Learn-and-Be-Curious">Learn and Be Curious</a>
			<a class="nav-link ml-3 my-1" href="#Hire-and-Develop-the-Best">Hire and Develop the Best</a>
		  <a class="nav-link" href="#Standards">Insist on the Highest Standards</a>
		  </nav>		
	</nav>
	</div> 

	<div class="scrollinfo">
	  <div data-spy="scroll" data-target="#navbar" data-offset="0">
		<h4 id="Customer-Obsession">Customer Obsession</h4>
		<p>Leaders start with the customer and work backwards. They work vigorously to earn and keep customer trust. Although leaders pay attention to competitors, they obsess over customers.</p>
		<h4 id="Ownership">Ownership</h4>
		<p>Leaders are owners. They think long term and do not sacrifice long-term value for short-term results. They act on behalf of the entire company, beyond just their own team. They never say “that’s not my job.”</p>
		<h4 id="Invent-and-Simplify">Invent and Simplify</h4>
		<p>Leaders expect and require innovation and invention from their teams and always find ways to simplify. They are externally aware, look for new ideas from everywhere, and are not limited by “not invented here.” As we do new things, we accept that we may be misunderstood for long periods of time.</p>
		<h4 id="Are-Right-A-Lot">Are Right, A Lot</h4>
		<p>Leaders are right a lot. They have strong judgment and good instincts. They seek diverse perspectives and work to disconfirm their beliefs.</p>
		<h4 id="Learn-and-Be-Curious">Learn and Be Curious</h4>
		<p>Leaders are never done learning and always seek to improve themselves. They are curious about new possibilities and act to explore them.</p>
		<h4 id="Hire-and-Develop-the-Best">Hire and Develop the Best</h4>
		<p>Leaders raise the performance bar with every hire and promotion. They recognize exceptional talent and willingly move them throughout the organisation. Leaders develop leaders and take seriously their role in coaching others. We work on behalf of our people to invent mechanisms for development like Career Choice.</p>
		<h4 id="Standards">Insist on the Highest Standards</h4>
		<p>Leaders have relentlessly high standards—many people may think these standards are unreasonably high. Leaders are continually raising the bar and driving their teams to deliver high-quality products, services, and processes. Leaders ensure that defects do not get sent down the line and that problems are fixed so they stay fixed.</p>
	  </div>
	</div>

</div>


<div class="head4" >
	<h1 class="mx-2 heading">Awards and Recognition</h1>
	<div class="text" style="width:70%;">
	<p>
		Since day one we have strived to be the Earth’s most customer-centric company. We’re honored to be recognised for the work we do on behalf of our customers, employees, and communities around the world. Here are some recent awards we’ve received.</p>
	</div>

</div>


<div class="col">
	<div class="scrollspy">
		<nav id="navbar" class="navbar navbar-light bg-white" >
			{% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
			<nav class="nav nav-pills flex-column">
			  <a class="nav-link" href="#Customers">Customers</a>
				<a class="nav-link ml-3 my-1" href="#employees">Employees</a>
				<nav class="nav nav-pills flex-column">
					<a class="nav-link ms-3 my-1" href="#ranking">Ranking</a>
					<a class="nav-link ms-3 my-1" href="#list">Lists and accolades</a>
				  </nav>
			
			  </nav>		
		</nav>
		</div> 
	
		<div class="scrollinfo">
		  <div data-spy="scroll" data-target="#navbar" data-offset="0">
			<h4>Customers</h4>
			<ul id="Customers">

				<li>#1 MBLM Brand Intimacy Rankings and Brand Intimacy COVID Rankings in Retail, 2020</li>
				<li>#1 BrandZ Most Valuable Global Brand, 2019-2020</li>
				<li>#2 Brand Finance Global 500: World’s Most Valuable Brand, 2021—Ranked in the top 10, ten years running.</li>
				<li>#1 Forbes 50 Most Engaged Companies, 2017</li>
				<li>#1 Most Trustworthy Company of the Fortune 100, 2016</li>
				<li>#2 Interbrand Best Global Brand, 2020</li>
				<li>#2 Fortune World’s Most Admired Companies, 2017-2021</li>
				<li>#3 The Axios Harris Poll 100, 2020—Ranked in the top 10, twelve years running.</li>
				<li>#3 Boston Consulting Group’s Most Innovative Companies, 2020</li>
			</ul>
			<br>
			<h4>Employees</h4>
			<ul id="employees">
				<h6 id="ranking">Ranking</h6>
				<li>#1 Morning Consult Most Admired Employers, 2018</li>
				<li>#2 Forbes World's Best Employers, 2020</li>
				<li>#2 YouGov BrandIndex "Where Women Want to Work," 2018</li>
				<li>#3 YouGov BrandIndex Workforce Rankings, 2019</li>
				<li>#3 Business Today’s India's Coolest Workplaces Survey 2021.</li>

				<br>
				<h6 id="list">Lists and accolades</h6>
				<li>The Economic Times Best Workplaces for Women, 2021 </li>
				<li>Hired Brand Health Report, World’s Most Desirable Employers, 2020</li>
				<li>AnitaB Top Companies for Women Technologists, 2020 participant</li>
				<li>Careers and the Disabled Magazine Top 50 Employers, 2020</li>
				<li>Fast Company’s Best Workplaces for Innovators, 2019-2020</li>
				<li>Perfect score on Human Rights Campaign Foundation Corporate Equality Index, 2018-2021</li>
				<li>Disability Equality Index Best Places to Work for Disability Inclusion, 2018-2020</li>
				<li>Named Best for Vets by Military Times and VETS Indexes, 2018, 2019</li>
				<li>Comparably list of Best Companies for Professional Development, 2018</li>
				<li>Secretary of Defense Employer Support Freedom Award, 2018</li>

			</ul>
		</div>
		</div>
	
	</div>
	<footer id="site-footer">

		<section class="horizontal-footer-section" id="footer-top-section">
			{% comment %} <div id="footer-logo">
				<picture>
					<img src="https://raw.githubusercontent.com/taviskaron/t-div-headers/main/img/logo3.png" alt="footer logo" role="presentation">
				</picture>
			</div> {% endcomment %}
			<div id="footer-top-menu-container" role="menubar">
				<ul id="footer-top-menu" role="menu">
					<li class="footer-top-menu-item" role="menuitem">
						<a href="../index" class="footer-top-menu-link">Home</a>
					</li>
					<li class="footer-top-menu-item footer-top-menu-item-active" role="menuitem">
						<a href="../about" class="footer-top-menu-link">About</a>
					</li>
					<li class="footer-top-menu-item" role="menuitem">
						<a href="../contact" class="footer-top-menu-link">Contact Us</a>
					</li>
				</ul>
			</div>
			<div id="footer-buttons-container">
				<a href="../mobile" class="footer-button" role="button">View our Products</a>
			</div>
		</section>
	
		<section class="horizontal-footer-section" id="footer-middle-section">
			<div id="footer-about" class="footer-columns footer-columns-large">
				<h1>Our Address</h1>
				<address>
					<p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">2B, Neptune Tower, BPC Rd, near Productivity House, Alkapuri, Vadodara, Gujarat 390007</p>
					<p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">7 (800) 555–35–35</p>
					<p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">Apnaphone@gmail.com</p>
					<p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">8:00 AM – 8:00 PM</p>
				</address>
				<h1> Our Newsletter</h1>
				<a href="#" class="footer-button" role="button">Subscribe</a>
			</div>
			<div class="footer-columns">
				<h1>Overview</h1>
				<ul class="footer-column-menu" role="menu">
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">Services </a>
					</li>
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">Pricing</a>
					</li>
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">Portfolio</a>
					</li>
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">News</a>
					</li>
				</ul>
			</div>
			<div class="footer-columns">
				<h1>Information</h1>
				<ul class="footer-column-menu" role="menu">
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">About Us</a>
					</li>
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">Terms of Use</a>
					</li>
					<li class="footer-column-menu-item">
						<a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
					</li>
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">Message Us</a>
					</li>
					<li class="footer-column-menu-item" role="menuitem">
						<a href="#" class="footer-column-menu-item-link">Leave a Feedback</a>
					</li>
				</ul>
			</div>
		</section>
		
		<section class="horizontal-footer-section" id="footer-bottom-section">
			<div id="footer-copyright-info">
				&copy; Apna Phone 2022. All rights reserved.
			</div>
			<div id="footer-social-buttons">
				<img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png"/>
				<img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png"/>
				<img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png"/>
				<img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png"/>
			</div>
		</section>
	
	</footer>
	
	
	
	{% block js %}{% endblock js %}
	<div class="clear"> </div>
	{% comment %} {%include 'footer.html'%} {% endcomment %}
	<script src="https://unpkg.com/scrollreveal"></script>
	

	<script>
		ScrollReveal({
		reset: true,
		distance: '10px',
		duration: 2000,
		delay: 400
	  });
  
	  ScrollReveal().reveal('.heading', { delay: 200, origin: 'left' });
	  ScrollReveal().reveal('.text', { delay: 100, origin: 'right' });
	  ScrollReveal().reveal('.head2', { delay: 100, origin: 'top' });
	  ScrollReveal().reveal('.image', { delay: 100, origin: 'bottom' });
	  ScrollReveal().reveal('.head2', { delay: 100, origin: 'top' });


	  
	</script>
	
</body>

</html>